body {
    background-color: #fef6aa;
}
h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 4.5rem;
    margin-bottom: 10px;
}
p {
    margin-bottom: 20px;
}
.form-control {
    margin-bottom: 20px;
}
.btn-primary {
    color: #fff;
    background-color: #f15b6c;
    border-color: #f15b6c;
    margin: 20px;
}

.burgersEntered {
    margin-top: 30px;
    margin-bottom: 30px;
}
.burgerName {
    margin-top: 20px;
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}